<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_servelet</servlet-name>
        <servlet-class>Controller.login_servelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_vehicle</servlet-name>
        <servlet-class>Controller.res_mgt.add_vehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_hall</servlet-name>
        <servlet-class>Controller.res_mgt.add_hall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_sport_item</servlet-name>
        <servlet-class>Controller.res_mgt.add_sport_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_sport_place</servlet-name>
        <servlet-class>Controller.res_mgt.add_sport_place</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_lab</servlet-name>
        <servlet-class>Controller.res_mgt.add_lab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_maintenance_tool</servlet-name>
        <servlet-class>Controller.res_mgt.add_maintenance_tool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_servelet</servlet-name>
        <url-pattern>/login_servelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_vehicle</servlet-name>
        <url-pattern>/add_vehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_hall</servlet-name>
        <url-pattern>/add_hall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_sport_item</servlet-name>
        <url-pattern>/add_sport_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_sport_place</servlet-name>
        <url-pattern>/add_sport_place</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_lab</servlet-name>
        <url-pattern>/add_lab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_maintenance_tool</servlet-name>
        <url-pattern>/add_maintenance_tool</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
